body {
  font: 14px "Lucida Grande", Helvetica, "Comic Sans MS", Arial, sans-serif;
  background-image: url('../images/wheat.png');
}

.link {
  margin: 10px;
}

.framka {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-top: 30px;
}

.form {
  max-width: 800px !important;
  margin-top: 30px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  max-width: 400px;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#status {
  color: red;
}

#user {
  color: green;
}

#quantity {
  display: flex;
  justify-content: center;
}

.navbar-custom {
  /*margin-bottom: 20px;*/
  display: flex;
  justify-content: space-around;
}

#nav-title {
  margin: 0;
}

.footer-custom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #444444;
  display: flex;
  justify-content: center;
}

#row {
  width: 72%;
}

#col2 {
  text-align: right;
}


