body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  margin: 10px;
  max-width: 300px;
}

.framka {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#mainh1 {
  max-width: 400px !important;
}

.form {
  max-width: 800px !important;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  width: 400px;
}