<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add client</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div class="container form" >
    <h1>Add client</h1>
    <form action="/add_user" method="post">
        <fieldset>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Login</label>
                <input type="text" class="form-control" placeholder="Login" id="inputDefault" required="required" name="login">
            </div>

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="inputDefault" required="required" name="password">
            </div>

            <div class="form-group">
                <label class="col-form-label" for="exampleSelect1">Type</label>
                <select class="form-control" id="exampleSelect1" name="type">
                    <option>Admin</option>
                    <option>Manager</option>
                    <option>Worker</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
    <footer>
        <%include footer%>
    </footer>
</div>
</body>
</html>