<footer class="footer">
    <div class="footer-container">
        <div id="footer-line">
        <span class="text-muted">Made by <a href="https://github.com/luk9400">Łukasz Bratos</a> and <a
                    href="https://github.com/pawelrubin">Paweł Rubin</a>.</span>
        <span class="text-muted float-lg-right"><a href="#top">Back to top</a></span>
        </div>

        <span class="text-muted">Code released under the <a href="https://github.com/luk9400/AlkoHurt/blob/master/LICENSE">MIT
                    License</a>.</span>
        <br>
        <span class="text-muted">Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>.</span>
        <!--
        <div class="col-lg-12">

            <div class="float-lg-right"><a href="#top">Back to top</a></div>
            <div>Made by <a href="https://github.com/luk9400">Łukasz Bratos</a> and <a
                        href="https://github.com/pawelrubin">Paweł Rubin</a>.
            </div>

            <div class="float-lg-right"><a href="/">Back to main page</a></div>
            <div>Code released under the <a href="https://github.com/luk9400/AlkoHurt/blob/master/LICENSE">MIT
                    License</a>.
            </div>

            <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>.</p>
        </div>
    -->
    </div>
</footer>