<footer class="footer-custom">
    <div class="footer-container" id="row">
        <div>
            Made by <a class="footer-link" href="https://github.com/luk9400">Łukasz Bratos</a> and <a class="footer-link"
                    href="https://github.com/pawelrubin">Paweł Rubin</a>.
            <br>
            Code released under the <a class="footer-link" href="https://github.com/luk9400/AlkoHurt/blob/master/LICENSE">MIT
                License</a>.
            <br>
            Based on <a class="footer-link" href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>.
        </div>

        <div id="col2">
            <a class="footer-link" href="#top">Back to top</a>
        </div>
    </div>
</footer>
