<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowańsko</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/javascripts/setBodyPadding.js"></script>
</head>
<body>
<div class="container form">
    <form action="/login" method="post">
        <fieldset>
            <div class="form-group">
                <label class="col-form-label" for="login">Login</label>
                <input type="text" class="form-control" placeholder="Login" id="login" required="required" name="login">
            </div>

            <div class="form-group">
                <label class="col-form-label" for="password">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="password" required="required"
                       name="password">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
    </form>
</div>
</body>
</html>
