<!DOCTYPE html>
<html>
<head>
    <title>Logowańsko</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div class="container form">
    <form action="/login" method="post">
        <fieldset>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Login</label>
                <input type="text" class="form-control" placeholder="login" id="inputDefault">
            </div>

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Password</label>
                <input type="password" class="form-control" placeholder="********" id="inputDefault">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
    </form>
</div>
</body>
</html>
