<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary navbar-custom" role="navigation">
    <a class="navbar-brand" id="nav-title" href="/">AlkoHurt</a>
    <span>User: <%= nick%></span>
    <button class="btn btn-dark navbar-btn" onclick="location.href='/logout'">Logout</button>
</nav>