<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary" id="navbar" role="navigation">
    <a class="navbar-brand" href="/">AlkoHurt</a>

    <span>User: <%= nick%></span>
    <a class="nav-link" href="/logout">Log out</a>
</nav>