<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf8">
    <title>Plan supply</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/tools.js"></script>
    <script>
        let data = <%- JSON.stringify(data)%>;
        let now = new Date(), minDate = now.toISOString().substring(0,10);
    </script>
</head>
<body>
<div class="container form" >
    <h1>Plan supply</h1>
    <form action="/plan_supply" method="post">
        <fieldset>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Supplier name</label>
                <input type="text" class="form-control" id="inputDefault" placeholder="Supplier" required="required" name="supplier">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="dateInput">Date</label>
                <input type="date" min="" class="form-control" id="dateInput" required="required" name="date">
            </div>
            <ul id="selections">
            </ul>
            <button onclick="addNewProductField()" type="button" class="btn btn-primary btn-lg">Add product</button>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </fieldset>
    </form>
</div>
<footer>
    <%include footer.ejs%>
</footer>
</body>