<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restore database</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/javascripts/setBodyPadding.js"></script>
    <script src="/javascripts/restore.js"></script>
    <script>
      let files = <%- JSON.stringify(data) %>;
    </script>
</head>
<body>
<% include navbar %>
<div class="container form">
    <h1>Restore database</h1>
    <form action="/restore" method="post">
        <fieldset>
            <div class="form-group">
                <label class="col-form-label" for="restoreSelect">Specify restore version</label>
                <select class="form-control" id="restoreSelect" required name="restoreVersion"></select>
            </div>
            <div class="buttons">
                <button onclick="location.href='/'" type="button" class="btn btn-primary btn-lg ">Back</button>
                <button type="submit" class="btn btn-primary">Restore</button>
            </div>
        </fieldset>
    </form>
</div>
<% include footer %>
</body>
</html>
