<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf8">
    <title>Update supply</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/javascripts/setBodyPadding.js"></script>
    <script src="/javascripts/update-supply.js"></script>
    <script src="/javascripts/tableify.js"></script>
    <script>
      let data = <%- JSON.stringify(data) %>;
    </script>
</head>
<% include navbar %>
<body>
<div class="container form">
    <h1>Update supply</h1>
    <div id="messageBox">
    </div>
    <form>
        <fieldset>
            <div class="form-group">
                <label class="col-form-label" for="supplySelect">Supply</label>
                <select type="text" class="form-control" id="supplySelect" required="required" name="supplySelect">
                </select>
            </div>

            <div class="form-group">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">Info</div>
                    <div class="card-body" id="supplyInfo">
                    </div>
                </div>

            </div>
            <div class="buttons">
                <button onclick="location.href='/'" type="button" class="btn btn-primary btn-lg ">Back</button>
                <button id="submit" type="button" class="btn btn-primary btn-lg ">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
<% include footer.ejs %>
</body>
</html>